$height: 60px;
.section-container {
  height: 400px;
  background-color: $orange;
  width: 100%;
  position: relative;
  &:after {
    position: absolute;
    background: url("../images/shape.svg") center center no-repeat;
    background-size: 100% $height;
    content: "";
    height: $height;
    width: 100%;
    bottom: -$height;
  }
}
