.sufficience-container {
  height: 500px;
  background-color: $orange;
  color: white;
  text-align: center;
}
.sufficience-form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.sufficience-donate {
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: 2px solid black;
  height: 50px;
  width: 145px;
  text-align: center;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sufficience-currency {
  padding-left: 5px;
  color: black;
}
.sufficience-example-container  {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}
.sufficience-example-left, .sufficience-example-right {
  float: left;
  width: 50%;
  position: relative;
  h3 {
    font-size: 36px;
    margin-bottom: 0;
  }
}
@mixin side($position) {
  position: absolute;
  content:"";
  height: 50%;
  width: 1px;
  top: 40px;
  background-color: black;
  @if $position == 'left' {
    left: 0;
} @else {
  right: 0;
}
}
.sufficience-example-left:after {
@include side(right);
}
.sufficience-example-right:before {
@include side(left);
}
.sufficience-submit {
  cursor: pointer;
  font-size: 20px;
  margin-top: 40px;
  width: 60%;
  background-color: white;
  border: none;
  color: $orange;
  padding: 20px 0;
  border-radius: 14px;
}
